@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
   background-image: url("../estilo/pexels-camilla-ferreira-14266208.jpg");
}
header{
    padding-bottom: 25px;
    background-image:linear-gradient(green 50%, rgba(0, 128, 0, 0));
    text-align: center;
}
header > h1{
    font-size: 50px;
    color: white;
    padding: 10px;
}
header > h2{
    color: rgb(169, 238, 169);
    padding: 10px;
}
i#burguer{
    display: block;
    color: white;
    border-radius:100px;
    background-image:linear-gradient(rgb(6, 80, 6) 50%,rgba(6, 80, 6, 0.281));
}
i#burguer:hover{
    background-image:linear-gradient(rgb(56, 139, 56) 50%,rgba(56, 139, 56, 0.171));
    cursor: pointer;
    transition-duration: 0.4s;
}
menu { 
    display: none;
}
menu > ul{
    
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    color: green;
    border-top: 1px solid green;
    background-image:linear-gradient( greenyellow 50%,rgba(172, 255, 47, 0.452));
    text-decoration: none;
    border-radius: 100px;
}
menu > ul > li > a:hover {
    color: white;
    background-image:linear-gradient( rgb(56, 139, 56),rgba(56, 129, 56, 0.281));
    transition-duration: 0.4s;
}
main{
    padding: 20px;
    width: 75vw;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    line-height: 25px;
    
}

article > p{
    padding: 10px;
    text-indent: 20px;
}

footer{
    padding: 20px;
    color: white;
    text-align: center;
}